* {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

body {
	margin: 0;
	touch-action: none;
}

.wrapper {
	font-family: Times New Roman;
}

.header {
	background-color: #ff8000;
	color: #111;
	padding: 5px 15px;
}

.body {
	background-color: #fff;
	color: #111;
}

.slogan {
	font-size: 20px;
	font-style: italic;
	text-align: center;
	line-height: 2;
	margin-bottom: 15px;
}

.slogan-heading {
	font-size: 28px;
	color: #434343;
	font-weight: bold;
}

.slogan-subheading {
	color: #999999;
}

.slogan-guitarmemo {
	color: #ee8010;
}

.record-container {
	text-align: center;
	color: #999999;
	margin: auto;
	width: 100%;
	
	position: absolute;
	bottom: 35px;
}

.record-feedback {
	text-align: center;
	color: #999999;
	margin: auto;
	width: 100%;
	margin: 30px 0;
	
}

.record-button {
	font-family: Sans-Serif;
	font-size: 28px;
	text-align: center;
	color: #999999;
	background-color: #cccccc;
	margin: auto;
	padding: 40px;
	border-radius: 100px;
	
	width: fit-content;
}

.record-canvas {
	border: 1px solid black;
	display: none;
	margin: 30px auto;
}
























